.distance {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  width: 270px;
  // margin-bottom: 45px;
}

.distance__label {
  font-weight: 500;
  line-height: 20px;
  color: $grey;
  width: 67px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 15px 5px;
  border: 1px solid $pale-grey;
  cursor: pointer;
}

.distance__item {
  &--less-then-10 {
    margin-bottom: 9px;

    .distance__label {
      border-radius: 2px 0 0 2px;
      border-right: 0;
    }
  }

  &--over-40 {
    .distance__label {
      border-radius: 0 2px 2px 0;
      border-left: 0;
    }
  }

  &--10-20 {
    .distance__label {
      border-right: 0;
    }
  }

  &--any-distance {
    .distance__label {
      width: 270px;
      border-radius: 2px;
      padding-bottom: 16px;
    }
  }
}

.distance__input:checked + .distance__label {
  background-color: $pink;
  border-color: $pink;
  color: $white;
}

.distance__input:hover + .distance__label,
.distance__input:focus + .distance__label {
  color: $black;
}

.distance__input:checked:hover + .distance__label,
.distance__input:checked:focus + .distance__label {
  color: $white;
  opacity: 0.8;
}

.distance__input:active + .distance__label {
  opacity: 0.6;
}

@media (max-width: $mobile-width) {
  .distance {
    margin: 0 auto;
  }
}
