.filter {
  padding: 15px;
}

.filter__submit-button {
  @include reset-button;

  width: 270px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: $pink;

  color: $white;
  font-weight: 500;
  margin-bottom: 30px;
  border-radius: 2px;
  padding: 13px 5px 15px;
  box-shadow: none;
  opacity: 1;
  transition: all 0.3s ease;
}

.filter__submit-button:hover,
.filter__submit-button:focus {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.filter__submit-button:active {
  opacity: 0.7;
}

.filter__reset-button {
  @include reset-button;

  width: 270px;
  border-radius: 2px;
  border: 1px solid $charcoal;
  color: $charcoal;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  opacity: 1;
  transition: all 0.3s ease;
}

.filter__reset-button:hover,
.filter__reset-button:focus {
  border-color: $black;
  color: $black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.filter__reset-button:active {
  opacity: 0.7;
}

.filter__reset-slogan {
  line-height: 34px;
  margin-right: 8px;
}

.filter__menu-button {
  @include reset-button;

  color: $black;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 700;
  margin-bottom: 25px;
  opacity: 1;
  transition: all 0.3s ease;

  &--active {
    margin-bottom: 0;
  }
}

.filter__menu-button:hover,
.filter__menu-button:focus {
  color: $charcoal;
}

.filter__menu-button:active {
  opacity: 0.7;
}

.filter__item {
  margin-bottom: 43px;

  &--terms {
    .filter__menu-button {
      margin-bottom: 23px;
    }
  }

  &--additional-options {
    margin-bottom: 22px;
  }
}

.filter__options-wrap,
.filter__terms-list,
.filter__distance-list {
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.filter__service-label {
  position: relative;
  padding-left: 48px;
  cursor: pointer;
}

.filter__service-label:hover {
  color: $charcoal;
}

.filter__service-label::after {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  display: block;
  background-color: $pink;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.filter__service-label::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: $white;
  width: 16px;
  height: 16px;
  border: 1px solid $white;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  transition: left 0.5s ease;
  z-index: 2;
}

.filter__service-input:checked + .filter__service-label::before {
  left: 21px;
}

.filter__service-label:hover::before {
  border-color: $black;
}

.filter__service-input:hover + .filter__service-label::before,
.filter__service-input:focus + .filter__service-label::before {
  border-color: $black;
}

.filter__service-input:active + .filter__service-label {
  opacity: 0.7;
}

.filter__service-item {
  margin-bottom: 30px;
}

@media (max-width: $mobile-width) {
  .filter {
    padding: 10px 10px 30px;
  }

  .filter__menu-button {
    margin-bottom: 15px;

    &--active {
      margin-bottom: 0;
    }
  }

  .filter__item {
    margin-bottom: 15px;

    &--terms {
      .filter__menu-button--active {
        margin-bottom: 0;
      }
    }
  }

  .filter__options-wrap {
    width: 270px;
    margin: 0 auto;
  }

  .filter__service-item {
    width: 270px;
    margin: 0 auto 20px;
  }

  .filter__submit-button {
    width: 100%;
    margin-bottom: 15px;
  }

  .filter__reset-button {
    width: 100%;
  }
}
