.flats__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flats__item {
  width: 270px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 15px 40px;

  &--hidden {
    display: none;
  }
}

.flats__image {
  display: block;
  height: 250px;
  width: 270px;
  border-radius: 10px 10px 0 0;
}

.flats__description {
  background-color: $white;
  border-radius: 0 0 10px 10px;
  padding: 15px 15px 10px;
}

.flats__item-title {
  margin: 0 0 15px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
}

.flats__terms {
  margin-bottom: 10px;
}

.flats__address {
  color: $light-charcoal;
}

.flats__metro {
  font-size: 16px;
  line-height: 29px;
  margin-right: 5px;
}

.flats__time {
  font-size: 16px;
  line-height: 29px;
  color: $light-charcoal;
  margin-right: 9px;
}

.flats__location {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.flats__metro-icon {
  margin-right: 8px;
}

.flats__service-label,
.flats__comfort-label {
  display: inline-block;
  vertical-align: top;

  background-color: $pink;
  color: $white;
  font-size: 12px;
  font-weight: 500;
  line-height: 23px;
  border-radius: 5px;
  top: 10px;
  position: absolute;
  padding: 2px 0 0;
  text-align: center;
}

.flats__service-label {
  width: 77px;
  left: 10px;
}

.flats__comfort-label {
  width: 78px;
  left: 97px;
}

.flats {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 30px 0 45px;
  justify-content: center;
}

.flats__wrap {
  max-width: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.flats__show-more-items {
  @include reset-button;

  background-color: $white;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  box-shadow: none;
  font-weight: 700;
  line-height: 20px;
  opacity: 1;
  transition: all 0.3s ease;

  width: 100%;
  max-width: 870px;

  &--hidden {
    display: none;
  }
}

.flats__show-more-items:hover,
.flats__show-more-items:focus {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.flats__show-more-items:active {
  opacity: 0.7;
}

.flats__button-wrap {
  padding: 0 15px;
  margin-top: -18px;
  width: 100%;
}

.flats__show-more-slogan {
  line-height: 20px;
  font-weight: 700;
}

.flats__plus-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $pink;
  color: $white;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: $mobile-width) {
  .flats {
    padding-top: 0;
    flex-direction: column-reverse;
  }

  .flats__item {
    margin: 0 10px 25px;
    width: 280px;
  }

  .flats__image {
    width: 280px;
  }

  .flats__button-wrap {
    margin-top: 0;
  }

  .flats__show-more-items {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .flats__plus-wrap {
    margin: 0 10px 0 0;
  }
}
