.options {
  @include reset-list;

  display: flex;
  flex-direction: column;
}

.options__item:not(:last-child) {
  margin-bottom: 10px;
}

.options__label {
  color: $charcoal;
  padding-left: 24px;
  cursor: pointer;
  position: relative;
}

.options__label::before {
  position: absolute;
  content: "";
  border: 1px solid $pink;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  left: 0;
  top: 2px;
}

.options__input:checked + .options__label::before {
  background-color: $pink;
}

.options__input:checked + .options__label::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-check.svg");
  background-position: 100%;
  left: 3px;
  top: 5px;
}

.options__input:checked + .options__label {
  color: $pink;
}

.options__input:hover + .options__label {
  color: $black;
}

.options__input:checked:hover + .options__label {
  color: $pink;
}

.options__input:hover + .options__label::before {
  border-color: $black;
}

.options__input:focus + .options__label::before {
  border-color: $black;
}

.options__input:active + .options__label {
  opacity: 0.7;
}

.options__show-more {
  @include reset-button;

  color: $pink;
  font-size: 15px;
  line-height: 28px;
  display: inline-block;
  vertical-align: top;
  opacity: 1;
  transition: all 0.3s ease;

  &--hidden {
    display: none;
  }
}

.options__show-more:hover,
.options__show-more:focus {
  color: $black;
}

.options__show-more:active {
  opacity: 0.7;
}

.options__item {
  &--hidden {
    display: none;
  }
}
