$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #111111;
$light-grey: #f9f9f9;
$pink: #f03b8c;
$charcoal: #5f5f5f;
$light-charcoal: #8f8f8f;
$grey: #afafaf;
$pale-grey: #e5e5e5;
$mobile-width: 768px;
